.project {
    width: 300px;
    background-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 100%;
    height: 300px;
    background-color: #bcbd5b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {

}

.description {

}

.projectLink {
    background-color: slategrey;

}

